/* body */

.page__body {
  display: grid;
  margin: 0;
  overflow-x: hidden;
  overflow-y: scroll;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  &--overflow {
    overflow: hidden;
  }

  @media (width >= 0) and (width < 768px) {
    grid-template-rows: min-content 1fr min-content;
    grid-template-columns: 1fr;
    min-height: 100vh;
  }

  @media (width >= 768px) {
    grid-template-rows: 1fr auto;
    grid-template-columns: 300px 1fr;
    height: 100vh;
  }
}

.webp .page__body {
  background-image: url('img/fon.jpg');
}

.no-webp .page__body {
  background-image: url('img/fon.jpg');
}
