/* main */

.main {
  --color-grey-lightest: #ffffffd5;
  background: var(--color-grey-lightest);
  backdrop-filter: blur(20px);

  @media (width >= 768px) {
    overflow: hidden;
    overflow-y: scroll;
    scrollbar-width: thin;

    &::-webkit-scrollbar {
      width: 8px;
    }

    &::-webkit-scrollbar-thumb {
      width: 5px;
      background-color: transparent;
      border-right: 4px solid #a8a8a8;
      transition: all 0.3s ease;
    }

    &::-webkit-scrollbar-thumb:hover {
      width: 5px;
      background-color: transparent;
      border-right: 8px solid #a8a8a8;
    }
  }

  &__inner {
    padding: 20px 16px;

    @media (width >= 768px) {
      padding: 36px 64px 50px;
    }
  }
}
