/* main */

.main {
  background: var(--color-white-84a);
  backdrop-filter: blur(20px);

  @media (width >= 768px) {
    overflow: hidden;
    overflow-y: scroll;
    scrollbar-width: thin;

    &::-webkit-scrollbar {
      width: 8px;
      background-color: var(--color-grey-lightest);
    }

    &::-webkit-scrollbar-thumb {
      width: 5px;
      background-color: transparent;

      --color-grey-lighter: #adaeb1;
      border-right: 4px solid var(--color-grey-lighter);
      transition: all 0.3s ease;
    }

    &::-webkit-scrollbar-thumb:hover {
      width: 5px;
      background-color: transparent;
      border-right-width: 8px;
    }
  }

  &__inner {
    padding: 20px 16px;

    @media (width >= 768px) {
      padding: 36px 64px 50px;
    }
  }
}
