/* main */

.main {
  --color-grey-lightest: #ffffffd5;
  background: var(--color-grey-lightest);
  backdrop-filter: blur(20px);

  @media (width >= 768px) {
    overflow: hidden;
    overflow-y: scroll;
  }

  &__inner {
    padding: 20px 16px;

    @media (width >= 768px) {
      padding: 36px 64px 50px;
    }
  }
}
