/* footer */

.footer {
  grid-column: -1 / 1;
  padding: 16px;
  backdrop-filter: blur(20px);

  --color-grey-dark: #fdfdfd23;
  background-color: var(--color-grey-dark);

  @media (width >= 768px) {
    padding: 20px 64px;
  }

  &__copy {
    margin: 0;
    color: var(--color-grey-lighter);
  }

  &__nickname {
    font-weight: 700;
  }
}
